.card {
  --content-transform: translateY(79.8%);
  --content-opacity: 0;
  --heading-inline-padding: 4px;
  --content-bg-color: transparent;
  --overflow-y: hidden;

  display: grid;
  grid-template-columns: minmax(1fr, 260px);
  grid-template-rows: minmax(0, 386px);
  aspect-ratio: 260 / 386;
  background-color: var(--themed-dark);
  overflow: hidden;
  transition: 300ms ease-out;

  @include vp-1023 {
    --content-transform: translateY(78.6%);
    aspect-ratio: 309 / 386;
  }

  @include vp-767 {
    --content-transform: translateY(80.6%);
    aspect-ratio: 270 / 386;
  }

  @include hover-focus {
    --content-transform: translateY(0%);
    --content-opacity: 1;
    --heading-inline-padding: 0;
    --content-bg-color: var(--themed-dark);
    --overflow-y: auto;
  }

  &:focus-within {
    --content-transform: translateY(0%);
    --content-opacity: 1;
    --heading-inline-padding: 0;
    --content-bg-color: var(--themed-dark);
  }
}

.card__image {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  aspect-ratio: 260 / 386;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  @include vp-1023 {
    aspect-ratio: 309 / 386;
  }

  @include vp-767 {
    aspect-ratio: 270 / 386;
  }
}

.card__content {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 30px 25px 35px;
  aspect-ratio: 260 / 386;
  background-color: var(--content-bg-color);
  overflow-y: var(--overflow-y);
  transform: var(--content-transform);
  transition: 300ms ease-out;

  @include vp-1023 {
    padding-inline: 35px;
    aspect-ratio: 309 / 386;
  }

  @include vp-767 {
    padding-inline: 25px;
    aspect-ratio: 270 / 386;
  }

  h3 {
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 13px;
    padding-inline: var(--heading-inline-padding);
    font: 500 18px / 1.5 $ff-montserrat;
    color: var(--base-light);

    @include vp-1023 {
      padding-inline: 0;
    }
  }

  dl {
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 5px;
    opacity: var(--content-opacity);
  }

  dt {
    margin: 0;
    margin-bottom: 2px;
    font: 500 14px / 1.4 $ff-montserrat;
    color: var(--base-light);
  }

  dd {
    margin: 0;
    margin-bottom: 11px;
    font: 400 14px / 1.4 $ff-montserrat;
    color: var(--base-neutral);
  }

  dd:last-child {
    margin-bottom: 0;
  }
}

.card__link {
  --border-color: transparent;

  flex-shrink: 0;
  display: block;
  margin-top: auto;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  font: 600 14px / 1.5 $ff-montserrat;
  color: var(--themed-dark);
  background-color: var(--base-light);
  border: 3px solid var(--border-color);
  user-select: none;

  @include hover-focus {
    --border-color: var(--themed-action);
  }

  @include active {
    color: var(--themed-action);
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
