.contacts {
  display: grid;
  grid-template-columns: minmax(20%, 560px) 1fr;
  padding-block: 120px;
  color: var(--themed-dark);

  @include vp-1023 {
    grid-template-columns: minmax(324px, 1fr) 53%;
    padding-block: 100px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-block: 58px;
  }
}

.contacts__map {
  @include vp-767 {
    order: 2;
  }
}

.contacts__text {
  padding-top: 75px;
  padding-left: 16.5%;

  @include vp-1023 {
    padding-top: 66px;
    padding-left: 8.5%;
  }

  @include vp-767 {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 36px;
  }

  p {
    margin: 0;
    margin-bottom: 32px;
    font: 500 18px / 1.5 $ff-montserrat;

    @include vp-1023 {
      margin-bottom: 28px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.contacts__address {
  address {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  p {
    display: flex;
    margin: 0;
    margin-bottom: 21px;
    font: 400 16px / 1.5 $ff-montserrat;

    @include vp-1023 {
      max-width: 27ch;
      margin-bottom: 20px;
    }

    &::before {
      --icon-url: var(--address-icon-url);

      content: "";
      display: block;
      flex-shrink: 0;
      width: 22px;
      min-width: 22px;
      height: 22px;
      margin-right: 6px;
      background-color: var(--themed-dark);
      mask: var(--icon-url) no-repeat center top / contain;

      @include vp-1023 {
        margin-top: 3px;
      }
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    --stroke: 0.17em;
    --color: currentColor;

    display: flex;
    justify-content: start;
    padding-bottom: calc(2.1 * var(--stroke));
    font: 400 16px / 1.5 $ff-montserrat;
    background: conic-gradient(
          from 135deg at top,
          var(--color) 90deg,
          transparent 0
        )
      left 0 bottom var(--stroke) / calc(2 * var(--stroke)) var(--stroke)
      repeat-x,
      conic-gradient(from -45deg at bottom, var(--color) 90deg, transparent 0)
      left var(--stroke) bottom 0 / calc(2 * var(--stroke)) var(--stroke)
      repeat-x;
    mask: linear-gradient(#000000 0 0) content-box,
      linear-gradient(#000000 0 0) 0 / var(--_position, 0%) padding-box
      no-repeat;
    transition: mask 600ms ease-out;

    @include hover-focus {
      --_position: 100%;
      color: var(--color);
    }

    @include active {
      --color: var(--themed-action);
      text-shadow: var(--link-action-shadow);
    }

    &::before {
      --icon-url: var(--phone-icon-url);

      content: "";
      display: block;
      flex-shrink: 0;
      width: 20px;
      min-width: 20px;
      height: 20px;
      margin-right: 8px;
      background-color: var(--color);
      mask: var(--icon-url) no-repeat center top / contain;
    }
  }

  a:not(:last-child) {
    margin-bottom: 5px;
  }
}
