.cruises {
  padding-top: 64px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 65px;
  }

  h2 {
    margin: 0;
    margin-bottom: 49px;
    font: 600 28px / 1.5 $ff-montserrat;
    text-align: center;

    @include vp-1023 {
      font: 600 26px / 1.5 $ff-montserrat;
    }

    @include vp-767 {
      margin-bottom: 30px;
      font: 600 24px / 1.5 $ff-montserrat;
    }
  }
}

.cruises__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px;
  justify-content: space-between;
  padding-inline: 15px;

  @include vp-767 {
    grid-template-columns: minmax(260px, 1fr);
    grid-auto-rows: minmax(386px, 1fr);
    padding-inline: 10px;
  }
}
