.form-wrapper {
  padding: 44px 49px 50px 50px;
  color: var(--base-light);
  background-color: var(--themed-dark);

  @include vp-767 {
    padding: 36px 28px 40px;
  }

  p {
    margin: 0;
    margin-bottom: 25px;
    font: 500 18px / 1.5 $ff-montserrat;

    @include vp-767 {
      font: 500 18px / 1.4 $ff-montserrat;
      text-align: center;
    }
  }

  form {
    display: grid;
    gap: 16px;
  }

  label {
    --label-font-size: 0;
    --label-transform: translateY(1.5em);

    position: relative;
    width: 100%;
    align-self: end;

    &:focus-within {
      --label-font-size: 16px;
      --label-transform: translateY(-1em);
    }
  }

  input {
    --border-color: transparent;

    width: 100%;
    padding: 10px 13px;
    font: 400 14px / 1.5 $ff-montserrat;
    color: var(--themed-dark);
    border: 3px solid var(--border-color);

    &::placeholder {
      color: var(--themed-dark);
    }

    &:hover {
      --border-color: var(--themed-action);
    }

    &:focus {
      --border-color: var(--themed-action);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:disabled:hover {
      border-color: transparent;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  span {
    position: absolute;
    display: block;
    font-size: var(--label-font-size);
    background-color: var(--themed-dark);
    transform: var(--label-transform);
    transition: transform 300ms ease-out;
  }

  button {
    --border-color: transparent;

    display: block;
    padding: 8px;
    font: 600 14px / 1.5 $ff-montserrat;
    text-align: center;
    color: var(--themed-dark);
    background-color: var(--base-light);
    border: 3px solid var(--border-color);
    user-select: none;
    cursor: pointer;

    @include hover-focus {
      --border-color: var(--themed-action);
    }

    @include active {
      color: var(--themed-action);
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.form-wrapper__personal-data-check {
  margin-bottom: 14px;
  padding-top: 2px;

  @include vp-767 {
    margin-bottom: 10px;
    padding-top: 0;
    padding-left: 3px;
  }

  label {
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] {
    --scale: scale(0);

    position: relative;
    order: 1;
    appearance: none;
    min-width: 18px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    padding: 0;
    color: var(--themed-dark);
    background-color: var(--base-light);
    border-width: 1px;
    cursor: pointer;

    @include vp-767 {
      margin-right: 9px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 20%;
      left: 22%;
      width: 9px;
      height: 7px;
      background-color: transparent;
      border-bottom: 1px solid var(--themed-dark);
      border-left: 1px solid var(--themed-dark);
      transform: rotate(-45deg) var(--scale);
    }

    &:checked {
      --scale: scale(1);
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  span {
    order: 2;
    position: static;
    font: 400 10px / 1.3 $ff-montserrat;
    color: var(--base-light);
    transform: initial;

    @include vp-767 {
      max-width: 23ch;
    }
  }
}
