.logo {
  display: grid;
  place-content: center;
  color: var(--base-light);

  @include vp-1023 {
    max-width: 38px;
  }

  @include vp-767 {
    max-width: 42px;
  }
}

.logo__image {
  display: block;
  width: 100%;
  height: auto;
}
