.logo {
  display: grid;
  place-content: center;
  color: var(--base-light);
  filter: var(--logo-color);

  @include hover-focus {
    filter: var(--logo-color) var(--hover-shadow-light);
  }

  @include active {
    filter: var(--icon-active) var(--hover-shadow-light);
  }

  @include vp-1023 {
    max-width: 38px;
  }

  @include vp-767 {
    max-width: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    filter: var(--logo-color);
  }
}
