.main-navigation {
  --filter: var(--logo-light);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  filter: var(--navigation-shadow);

  @include vp-1023 {
    filter: initial;
  }

  &--is-open {
    --filter: var(--logo-dark);

    @include vp-767 {
      display: grid;
      row-gap: 22px;
      min-width: 285px;
      grid-template-columns: [full-start] minmax(42px, 1fr) minmax(13px, 1fr) [full-end];
      grid-auto-rows: min-content;
      align-items: start;
      padding-top: 15px;
      padding-left: 15px;
    }
  }
}

.main-navigation__logo {
  margin-right: 5%;
}

.main-navigation__menu {
  max-width: 85%;
  margin: 0;

  @include vp-767 {
    grid-column: full;
    order: 2;
    min-width: 100%;
  }
}

.main-navigation__toggle {
  margin-right: -7px;
}
