.main-navigation {
  --filter: var(--logo-light);
  --mobile-menu-display: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  filter: var(--navigation-shadow);

  @include vp-1023 {
    filter: initial;
  }

  &--is-open {
    @include vp-767 {
      --filter: var(--logo-dark);
      --mobile-menu-display: flex;

      position: absolute;
      z-index: 1000;
      top: 0;
      right: 0;
      bottom: 0;
      display: grid;
      grid-template-columns: [full-start] minmax(42px, 1fr) minmax(13px, 1fr) [full-end];
      grid-auto-rows: min-content;
      align-items: start;
      row-gap: 22px;
      min-width: 285px;
      height: 100%;
      margin-left: 36px;
      padding-top: 15px;
      padding-left: 15px;
      overflow-y: auto;
      background-color: var(--base-light);

      &::before {
        content: "";
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }
    }
  }
}

.main-navigation__logo {
  margin-right: 5%;
}

.main-navigation__menu {
  max-width: 85%;
  margin: 0;

  @include vp-767 {
    display: var(--mobile-menu-display);
    grid-column: full;
    order: 2;
    min-width: 100%;
  }
}

.main-navigation__toggle {
  margin-right: -7px;

  @include vp-767 {
    /* margin-right: 5px; */
  }
}
