.main-navigation {
  --logo-color: var(--icon-light);
  --mobile-menu-display: none;
  --menu-pointer-events: none;
  --visibility: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  filter: var(--navigation-shadow);

  @include vp-1023 {
    filter: initial;
  }

  &--is-open {
    @include vp-767 {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }
}

.main-navigation__wrapper {
  display: contents;
  transform: translateX(100%);
  transition: transform 300ms ease-out;

  &--is-open {
    @include vp-767 {
      --logo-color: var(--logo-dark);
      --mobile-menu-display: flex;
      --menu-pointer-events: auto;
      --visibility: visible;
      position: fixed;
      z-index: 1000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 36px;
      display: grid;
      grid-template-columns: [full-start] minmax(42px, 1fr) minmax(13px, 1fr) [full-end];
      grid-auto-rows: min-content;
      align-items: start;
      row-gap: 22px;
      height: 100%;
      padding-top: 15px;
      padding-left: 15px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: var(--base-light);
      transform: translateX(0);
    }
  }
}

.main-navigation__logo {
  margin-right: 5%;
}

.main-navigation__menu {
  max-width: 85%;
  margin: 0;

  @include vp-767 {
    display: var(--mobile-menu-display);
    grid-column: full;
    order: 2;
    min-width: 100%;
    height: 80vh;
    overflow-y: auto;
    pointer-events: var(--menu-pointer-events);
    visibility: var(--visibility);
  }
}

.main-navigation__toggle {
  margin-right: -7px;
}
