.main-footer {
  --logo-color: var(--icon-light);

  background-color: var(--themed-dark);
  padding-block: 50px;

  @include vp-1023 {
    padding-block: 47px;
  }

  @include vp-767 {
    padding-block: 35px;
  }
}

.main-footer__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: start;
  }
}

.main-footer__logo {
  margin-right: 3.5%;

  @include vp-767 {
    margin: 0;
    margin-bottom: 16px;
  }
}

.main-footer__menu {
  max-width: 73%;
  margin: 0;
  margin-right: 5px;

  @include vp-767 {
    margin-bottom: 17px;
  }
}

.main-footer__social {
  max-width: 15%;
  margin: 0;
  margin-left: auto;

  @include vp-767 {
    min-width: 100%;
    margin: 0;
    margin-left: -7px;
  }
}
