.social {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 13px;

  @include vp-1023 {
    gap: 9px;
  }
}

.social__link {
  --icon-size: 30px;

  display: grid;
  place-items: center;
  min-width: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  padding: 5px;
  filter: var(--icon-light);

  @include vp-1023 {
    --icon-size: 26px;
  }

  @include hover-focus {
    filter: var(--icon-light) var(--hover-shadow-light);
  }

  @include active {
    filter: var(--icon-active) var(--hover-shadow-light);
  }
}

.social__img {
  width: 100%;
  height: auto;
}
