.toggle {
  display: none;
  position: relative;
  appearance: none;
  width: 38px;
  height: 38px;
  justify-content: center;
  justify-self: end;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include vp-767 {
    display: flex;
  }
}

.toggle__button {
  --bg-color: var(--base-light);
  --transition-duration: 300ms;


  position: absolute;
  top: 48%;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--bg-color);
  transition-duration: var(--transition-duration);

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--bg-color);
    transition: transform var(--transition-duration) ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--bg-color);
    transition: transform var(--transition-duration) ease-out;
  }

  &--is-open {
    background-color: transparent;
  }

  &--is-open::before {
    --bg-color: var(--themed-dark);

    content: "";
    transform: scaleX(0.7) translate(-12px, 4px) rotate(-35deg);
  }

  &--is-open::after {
    --bg-color: var(--themed-dark);

    content: "";
    transform: scaleX(0.7) translate(-12px, -8px) rotate(35deg);
  }
}
